@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
  scroll-behavior: smooth;
  /* color pallete */
  /* #0369a0 */
  --primary: 200.41 98% 39%;
  /* #0284c5 */
  --primary-light: 199 89% 48%;
  /* #075783 */
  --primary-dark: 201.27 96.34% 32.16%;
  /* #fff */
  --primary-foreground: 0 0% 100%;
  /* #db7706 */
  --secondary: 174.67 83.58% 31.57%;
  /* #fcd44f */
  --secondary-light: 173.41 80.39% 40%;
  /* #b35309 */
  --secondary-dark: 175.34 77.44% 26.08%;
  /* #fff */
  --secondary-foreground: 0 0% 100%;
  /* #fff */
  --background: 0 0% 100%;
  --bg-dashboard: 0 0% 90%;
  /* #262626 */
  --foreground: 0 0% 20%;
  /* z indexes */
  --mobile-bottom-nav-zindex: 100;
  --mobile-bottom-nav-height: 3.8rem;
  --header-zindex: 100;
  --header-height: 3.8rem;
  --dashboard-header-height: 4rem;
 }

 [data-app-mode='dark'] {
  /* color pallete */
  /* #0369a0 */
  --primary: 194 100% 43.63%;
  /* #0284c5 */
  --primary-light: 199 100% 73%;
  /* #075783 */
  --primary-dark: 195 100% 37%;
  /* #fff */
  --primary-foreground: 0 0% 100%;
  /* #db7706 */
  --secondary: 175 100% 31%;
  /* #fcd44f */
  --secondary-light: 173.41 80.39% 40%;
  /* #b35309 */
  --secondary-dark: 176 100% 19%;
  /* #fff */
  --secondary-foreground: 0 0% 100%;
  /* #fff */
  --background: 0 0% 10%;
  /* #262626 */
  --foreground: 0 0% 100%;
  /*  */
  --bg-dashboard: 0 0% 15%;
 }
}

@keyframes scroll {
 0% {
  transform: translateY(0);
 }
 30% {
  transform: translateY(60px);
 }
}

svg #wheel {
 animation: scroll ease 2s infinite;
}

@media screen(lg) {
 body {
  --header-height: 5rem;
  --mobile-bottom-nav-height: 0.01rem;
 }
}
