@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
  /* #0369a0 */
  --primary: 201 96% 32%;
  /* #0284c5 */
  --primary-light: 200 98% 39%;
  /* #075783 */
  --primary-dark: 201 90% 27%;
  /* #fff */
  --primary-foreground: 0 0% 100%;
  /* #db7706 */
  --accent: 32 95% 44%;
  /* #fcd44f */
  --accent-light: 46 97% 65%;
  /* #b35309 */
  --accent-dark: 26 90% 37%;
  /* #fff */
  /* #db7706 */
  --secondary: 32 95% 44%;
  /* #fcd44f */
  --secondary-light: 46 97% 65%;
  /* #b35309 */
  --secondary-dark: 26 90% 37%;
  /* #fff */
  --secondary-foreground: 0 0% 100%;
  /* #fff */
  --background: 0 0% 100%;
  /* #262626 */
  --foreground: 0 0% 15%;
 }
}
