@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
  /* color pallete */
  /* #0369a0 */
  --primary: theme(colors.sky.600);
  /* #0284c5 */
  --primary-light: theme(colors.sky.500);
  /* #075783 */
  --primary-dark: theme(colors.sky.700);
  /* #fff */
  --primary-foreground: 0 0% 100%;
  /* #db7706 */
  --secondary: theme(colors.teal.600);
  /* #fcd44f */
  --secondary-light: theme(colors.teal.500);
  /* #b35309 */
  --secondary-dark: theme(colors.teal.700);
  /* #fff */
  --secondary-foreground: 0 0% 100%;
  /* #fff */
  --background: 0 0% 100%;
  /* #262626 */
  --foreground: 0 0% 15%;

  /* z indexes */
  --mobile-bottom-nav-zindex: 100;
  --mobile-bottom-height: 4rem;
 }
}
